

# APP
PORT=3000
NODE_ENV=development


# POSTGRES
PG_USER = postgres
PG_PASSWORD = 
PG_HOST = localhost
PG_PORT = 5432
PG_DATABASE = lms





# JSON WEB TOKEN
# REFRESH
JWT_REFRESH_SECRET=qwert
JWT_REFRESH_EXPIRES_IN=30d

# ACCESS
JWT_ACCESS_SECRET=12345
JWT_ACCESS_EXPIRES_IN=1h

JWT_FORGET_PASSWORD_SECRET = askdnlka
JWT_FORGET_PASSWORD_EXPIRES_IN = 5m


# GOOGLE APP PASSWORD
USER_MAIL = 
USER_MAIL_PASSWORD =

LOGGER_TOKEN =


# OAUTH_GOOGLE
CLIENT_ID=
CLIENT_SECRET=


MULTER_DEST=yukla

IMAGEKIT_PUBLIC_KEY=
IMAGEKIT_PRIVATE_KEY=
IMAGEKIT_URL_ENDPOINT=
